---
title: "Demo email by mioe"
preheader: "Testing fonts for email clients"
---

<extends src="src/layouts/main.html">
  <block name="template">
    <!-- header -->
    <table>
      <tr>
        <td>
          <h1 class="font-sans">
            Testing fonts for email clients
          </h1>
        </td>
      </tr>
    </table>
    <!-- /header -->

    <!-- safe fonts (sans-serif) -->
    <table>
      <tr>
        <td>
          <h2 style="font-family: Arial">
            Arial
          </h2>
          <p style="font-family: Arial">
            ACB
          </p>
        </td>
      </tr>
    </table>
    <!-- /safe fonts (sans-serif) -->
  </block>
</extends>
