---
title: "Demo email by mioe"
preheader: "Testing fonts for email clients"
---

<extends src="src/layouts/main.html">
  <block name="template">
    <!-- header -->
    <table class="w-full mt-[16px] mb-[16px]">
      <tr>
        <td>
          <h1 class="font-sans">
            Testing fonts for email clients
          </h1>
        </td>
      </tr>
    </table>
    <!-- /header -->

    <!-- popular fonts -->
    <table class="w-full">
      <tr>
        <td class="pb-[8px]">
          <h2 class="font-sans">
            Popular fonts
          </h2>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Roboto"
            appleMail="-"
            gmail="+"
            gmailMobile="+"
          ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Helvetica"
            appleMail="+"
            gmail="-"
            gmailMobile="-"
            ></component>
        </td>
      </tr>
    </table>
    <!-- /popular fonts -->

    <!-- safe fonts (sans-serif) -->
    <table class="w-full">
      <tr>
        <td class="pb-[8px]">
          <h2 class="font-sans">
            Safe Fonts (sans-serif)
          </h2>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Arial"
            appleMail="+"
            gmail="+"
            gmailMobile="-"
            ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Arial Black"
            appleMail="+"
            gmail="+"
            gmailMobile="-"
            ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Tahoma"
            appleMail="+"
            gmail="-"
            gmailMobile="-"
            ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Trebuchet MS"
            appleMail="+"
            gmail="-"
            gmailMobile="-"
            ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Verdana"
            appleMail="+"
            gmail="+"
            gmailMobile="-"
            ></component>
        </td>
      </tr>
    </table>
    <!-- /safe fonts (sans-serif) -->

    <!-- safe fonts (serif) -->
    <table class="w-full">
      <tr>
        <td class="pb-[8px]">
          <h2 class="font-sans">
            Safe Fonts (serif)
          </h2>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Courier"
            appleMail="+ (only eng)"
            gmail="+ (only eng)"
            gmailMobile="+ (only eng)"
            ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Courier New"
            appleMail="+"
            gmail="+"
            gmailMobile="+ (only eng)"
            ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Georgia"
            appleMail="+"
            gmail="+"
            gmailMobile="+"
          ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Times"
            appleMail="+"
            gmail="+"
            gmailMobile="+"
            ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Times New Roman"
            appleMail="+"
            gmail="+"
            gmailMobile="+"
            ></component>
        </td>
      </tr>
    </table>
    <!-- /safe fonts (serif) -->

    <!-- custom fonts -->
    <table class="w-full">
      <tr>
        <td class="pb-[8px]">
          <h2 class="font-sans">
            Custom fonts
          </h2>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Journal Sans New"
            appleMail="-"
            gmail="-"
            gmailMobile="-"
            ></component>
        </td>
      </tr>
    </table>
    <!-- /custom fonts -->

    <!-- google fonts -->
    <table class="w-full">
      <tr>
        <td class="pb-[8px]">
          <h2 class="font-sans">
            Google fonts
          </h2>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Montserrat"
            appleMail="+"
            gmail="-"
            gmailMobile="-"
            ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Open Sans"
            appleMail="+"
            gmail="-"
            gmailMobile="-"
            ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Rubik"
            appleMail="+"
            gmail="-"
            gmailMobile="-"
            ></component>
        </td>
      </tr>
    </table>
    <!-- /google fonts -->
  </block>
</extends>
