---
title: "Demo email by mioe"
preheader: "Testing fonts for email clients"
---

<extends src="src/layouts/main.html">
  <block name="template">
    <!-- header -->
    <table class="w-full">
      <tr>
        <td>
          <h1 class="font-sans">
            Testing fonts for email clients
          </h1>
        </td>
      </tr>
    </table>
    <!-- /header -->

    <!-- popular fonts -->
    <table class="w-full">
      <tr>
        <td>
          <h2 class="font-sans">
            Popular fonts
          </h2>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Roboto"
          ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Helvetica"
          ></component>
        </td>
      </tr>
    </table>
    <!-- /popular fonts -->

    <!-- safe fonts (sans-serif) -->
    <table class="w-full">
      <tr>
        <td>
          <h2 class="font-sans">
            Safe Fonts (sans-serif)
          </h2>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Arial"
          ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Arial Black"
          ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Tahoma"
          ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Trebuchet MS"
          ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Verdana"
          ></component>
        </td>
      </tr>
    </table>
    <!-- /safe fonts (sans-serif) -->

    <!-- safe fonts (serif) -->
    <table class="w-full">
      <tr>
        <td>
          <h2 class="font-sans">
            Safe Fonts (serif)
          </h2>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Courier"
          ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Courier New"
          ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Georgia"
          ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Times"
          ></component>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Times New Roman"
          ></component>
        </td>
      </tr>
    </table>
    <!-- /safe fonts (serif) -->

    <!-- custom fonts -->
    <table class="w-full">
      <tr>
        <td>
          <h2 class="font-sans">
            Custom fonts
          </h2>
        </td>
      </tr>
      <tr>
        <td class="pb-[20px]">
          <component
            src="src/components/v-symbols.html"
            font="Journal Sans New"
          ></component>
        </td>
      </tr>
    </table>
    <!-- /custom fonts -->
  </block>
</extends>
