<table>
  <tr>
    <td>
      <h3
        class="mt-0 mb-[4px]"
        style="font-family: {{ font }}"
      >
        <b class="text-[#ff762d]">#</b> {{ font }} (input/output)
      </h3>
    </td>
  </tr>
</table>

<table class="w-full">
  <tr>
    <td class="w-1/2">
      <p
        class="m-0 text-[16px]"
        style="font-family: {{ font }}"
      >
        0123456789+-<br><br>
        ABCDEFGHIJKL<br>
        MNOPQRSTUVWX<br>
        YZ<br><br>
        abcdefghijkl<br>
        mnopqrstuvwx<br>
        yz<br><br>
        АБВГДЕЁЖЗИЙК<br>
        ЛМНОПРСТУФХЦ<br>
        ЧШЩЪЫЬЭЮЯ<br><br>
        абвгдеёжзийк<br>
        лмнопрстуфхц<br>
        чшщъыьэюя
      </p>
    </td>
    <td class="w-1/2">
      <img
        src="/images/{{ font }}.png"
        alt="{{ font }}"
      >
    </td>
  </tr>
</table>
